 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.ease2 { transition: all 0.3s ease; }
.ease-none { transition: none; }
.auto { max-width: $width1; margin-left: auto; margin-right: auto;

}
#main-wrapper { }
.fl { float:left; outline: 1px solid red; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }


.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}
.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.co-black { color: $coBlack; }
.co-white { color: $coWhite; }
.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); border-radius: 0; }
.bp-centralize { transform: translate3d(0, -50%, 0); }
.bp-centralize2 { transform: translate3d(-50%, 0, 0); }
.bp-centralize3 { transform: translate3d(-50%, -50%, 0); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt3 { padding-top: 30px; }
.pt4 { padding-top: 40px; }
.pt5 { padding-top: 50px; }

.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb3 { padding-bottom: 30px; }
.pb4 { padding-bottom: 40px; }
.pb5 { padding-bottom: 50px; }

.mt1 { margin-top: 10px; }
.mt2 { margin-top: 20px; }
.mt3 { margin-top: 30px; }
.mt4 { margin-top: 40px; }
.mt5 { margin-top: 50px; }

.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }

@include breakpoint(tablet2) {
	.pt2 { padding-top: 10px; }
	.pt3 { padding-top: 20px; }
	.pt4 { padding-top: 30px; }
	.pt5 { padding-top: 40px; }

	.pb2 { padding-bottom: 10px; }
	.pb3 { padding-bottom: 20px; }
	.pb4 { padding-bottom: 30px; }
	.pb5 { padding-bottom: 40px; }

	.mt2 { margin-top: 10px; }
	.mt3 { margin-top: 20px; }
	.mt4 { margin-top: 30px; }
	.mt5 { margin-top: 40px; }

	.mb2 { margin-bottom: 10px; }
	.mb3 { margin-bottom: 20px; }
	.mb4 { margin-bottom: 30px; }
	.mb5 { margin-bottom: 40px; }

	.mob-pt1 { padding-top: 10px; }
	.mob-pt2 { padding-top: 20px; }
	.mob-pt3 { padding-top: 30px; }
	.mob-pt4 { padding-top: 40px; }
	.mob-pt4 { padding-top: 50px; }

	.mob-pb1 { padding-bottom: 10px; }
	.mob-pb2 { padding-bottom: 20px; }
	.mob-pb3 { padding-bottom: 30px; }
	.mob-pb4 { padding-bottom: 40px; }
	.mob-pb5 { padding-bottom: 50px; }

	.mob-mt1 { margin-top: 10px; }
	.mob-mt2 { margin-top: 20px; }
	.mob-mt3 { margin-top: 30px; }
	.mob-mt4 { margin-top: 40px; }
	.mob-mt5 { margin-top: 50px; }

	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
}
.bp-preloader { z-index: 9999; opacity: 1; position:fixed; top: 0; left: 0; width:100%; height:100%; background-color: $coWhite; overflow:hidden; transition: opacity 0.5s;
	&.fade { opacity: 0; }
}
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; animation: rotate 2.0s infinite linear;
	span { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coBlack; border-radius: 100%; animation: bounce 2.0s infinite ease-in-out;
		&:nth-child(2) { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
	}
}
@keyframes rotate { 100% { transform: rotate(360deg); } }
@keyframes bounce { 0%, 100% { transform: scale(0.0); } 50% { transform: scale(1.0); } }

// you can include here the rest of your class name eg. home page

// for rows
.row {
	&.row-simple { margin-left: 0; margin-right: 0;
		[class*="col-"] { padding-left: 0; padding-right: 0; }
	}

	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}

	&.row-small-2 { margin-left: -5px; margin-right: -5px;
		> [class*="col"] { padding-left: 5px; padding-right: 5px; }
	}

	@include breakpoint(md) {
		&.row-medium { margin-left: -20px; margin-right: -20px;
			[class*="col"] { padding-left: 20px; padding-right: 20px; }
		}
	}

	@include breakpoint(lg) {
		&.row-large { margin-left: -35px; margin-right: -35px;
			[class*="col"] { padding-left: 35px; padding-right: 35px; }
		}
	}
}

.co-vi-row { display: flex; margin-left: -15px; margin-right: -15px;
	@include breakpoint(tablet2) { display: block;
		.co-vi-col { width: 100% !important; }
	}
}
.co-vi-col { padding-left: 15px; padding-right: 15px;
	&.col-large { width: calc(100% - 345px); }
	&.col-small { width: 345px; }
}

.co-vi-player { position: relative; @extend .bp-img, .bp-img.wide;
	iframe { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.co-vi-list {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }
	}
}

.cv-li-set { display: block; color: inherit;
	&.selected { cursor: default;
		.bp-img {
			&:after { opacity: 1; }
		}
	}

	.bp-img { position: relative;
		&:after { opacity: 0; content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 2px solid #92754e; @extend .ease2; }
	}

	.row {
		[class*="col"] {
			&.col-img { max-width: 165px; }
		}
	}
}

.cv-se-par {
	> * {
		&:last-child { margin-bottom: 0; }
	}

	h5, h4 { margin-bottom: 5px; font-weight: bold; }
	h5 { text-transform: uppercase; }
}